{% extends 'common/base.html' %}
{% block content %}
<!-- 질문 등록 -->
<form action="{% url 'hello:question_modify' question.id%}" method="post" class="my-3">
    {% csrf_token %}
    <div class="mb-3">
        <label for="subjcet" class="form-label">제목</label>
        <!--원래 작성되어 있던 제목을 로딩-->
        <textarea name="subject" id="subject" class="form-control" rows="1">{{question.subject}}</textarea>
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">질문내용</label>
        <textarea name="content" id="content" class="form-control" rows="10">{{question.content}}</textarea>
    </div>
    <input type="submit" value="저장" class="btn btn-primary">
</form>
{% endblock %}
